<div class="container">
  <h1>Result</h1>
  <p>Sorry but <strong><%= params[:word] %></strong> can't be build out of <%= @letters %>.</p>
  <div class="link"><%= link_to "Play again", new_path %></div>
</div>
